{% extends  "MainBundle::base.html.twig" %}

{% block navbar %}{% include 'MainBundle::user-navbar.html.twig' %}{% endblock %}

{% block content %}
    <ul>
        {% for i in institutes %}
            <li><a href="{{ path("institutes") }}">{{ i.title }}</a></li>
            {% set cath = i.cathedras %}
            <li>
                <ul>
                    {% for c in cath %}
                        <li><a href="">{{ c.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}