{% extends "RatingUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="center-block">
    {% for flashMessage in app.session.flashbag.get('check_email') %}
        <div class="alert alert-success container" style='width: 740px; text-align: center;' role="alert">{{ flashMessage }}</div>
        <br>
    {% endfor %}
    </div>
<form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="login-form container">

    <div style="color: red">
                {% if error %}
                    Невірний логін або пароль!
                {% endif %}
            </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
        <label for="email">Email:</label>
        <input placeholder="Введіть Ваш Email" type="text" id="username" name="_username" value="" required="required" class="form-control" />
    </div>
    <div class="form-group">
        <label  for="password">Пароль:</label>
        <input type="password" id="password" name="_password"  required="required" placeholder="Введіть Ваш пароль" class="form-control"/>
    </div>
    <div class="checkbox checkbox-inline">
        {#<label><input type="checkbox" id="remember_me" name="_remember_me" value="on"/> Запам'ятати мене</label>#}
        <a data-toggle="modal" data-target="#modalReset">Забули пароль?</a>
    </div>
                <button type="submit" id="_submit" name="_submit" class="btn btn-success login">Увійти</button>


    <a class="btn btn-success register-btn" href="{{ path('rating_registration_register') }}">Зареєструватися</a>

</form>
{% endblock fos_user_content %}
