{% extends "@Admin/index.html.twig" %}

{% block title %}Редагування Кафедри{% endblock %}

{% block content %}
    <a class="btn btn-primary back-btn" href="{{ path('cathedras') }}">{{ 'Назад' }}</a>
    <br>
    <h3>Редагування Кафедри</h3>
    <div class="admin-form">{{ form(edit_form) }}</div>
{% endblock %}
