{% extends '@Admin/index.html.twig' %}

{% block title %}Створити Кафедру{% endblock %}

{% block content %}
    <h3>Створити Кафедру</h3>
    <div class="admin-form">{{ form(form) }}</div>
{% endblock %}
