{% extends "@Admin/index.html.twig" %}

{% block title %}Створення Категорії{% endblock %}

{% block content %}
    <h3>Створення Категорії</h3>
    <div class="admin-form">
        {{ form(form) }}
    </div>
{% endblock %}