<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
            '@RatingMainBundle/Resources/public/css/reset.css'
            '@bootstrap_css'
            '@bootstrap_theme_css'
            '@RatingMainBundle/Resources/public/less/*'
            output='css/general.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header style="height: 50px"></header>
        <div id="wrapper" class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts
            '@jquery_js'
            '@bootstrap_js'
            '@RatingMainBundle/Resources/public/scripts/ajax.form.js'
            '@RatingMainBundle/Resources/public/scripts/app.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
