{% extends '@Admin/index.html.twig' %}

{% block title %}Редагування Навчального Року{% endblock %}

{% block content %}
    <h3>Редагування Навчального Року</h3>
    <div class="admin-form">
        {{ form(edit_form) }}
    </div>
{% endblock %}
