{% extends '@RatingAdmin/index.html.twig' %}

{% block title %}Редагування Навчального Року{% endblock %}

{% block content %}
    <div id="wrapper" class="after-navbar-admin container">
        <h3>Редагування Навчального Року</h3>
        <div class="admin-form">
            {{ form(edit_form) }}
        </div>
    </div>
{% endblock %}
