{% extends '@Admin/index.html.twig' %}

{% block title %}Створення Навчального Року{% endblock %}

{% block content %}
    <h3>Створення Навчального Року</h3>
    <div class="admin-form">
        {{ form(form) }}
    </div>
{% endblock %}
