{% extends '::admin.html.twig' %}

{% block body -%}
    <a class="btn btn-primary" href="{{ path('position') }}">Назад</a>
    <br>
    <h3>Редагувати Посаду</h3>
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <div class="admin-form">
         {{ form(edit_form) }}
    </div>
{% endblock %}
