{% extends '@RatingAdmin/index.html.twig' %}

{% block content %}
    <div id="wrapper" class="after-navbar-admin container">
        <br>
        <h3>Нова Посада</h3>
        <div class="admin-form">{{ form(form) }}</div>
    <div>
{% endblock %}
