{% extends '@RatingAdmin/index.html.twig' %}

{% block title %}Створення Критерія{% endblock %}

{% block content %}
    <div id="wrapper" class="after-navbar-admin container">
        <h3>Додати критерій</h3>
        <div class="admin-form">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}