{% extends '@RatingAdmin/index.html.twig' %}

{% block title %}Створення Критерія{% endblock %}

{% block content %}
    <h3>Додати критерій</h3>
    <div class="admin-form">
        {{ form(form) }}
    </div>
{% endblock %}