{% extends '::admin.html.twig' %}
{% block title %}Створення Групи Критеріїв{% endblock %}
{% block body -%}
    <h3>Створення Групи критеріїв</h3>
    <br>
    <a class="btn btn-primary back-btn" href="{{ path('group') }}">{{ 'Назад' }}</a>
    <br>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="admin-form">
        {{ form(form) }}
    </div>
{% endblock %}