{% extends '@RatingAdmin/index.html.twig' %}

{% block title %}Створення Групи Критеріїв{% endblock %}

{% block content %}
    <h3>Створення Групи критеріїв</h3>
    <div class="admin-form">
        {{ form(form) }}
    </div>
{% endblock %}