{% block subject %}Підтвердження реєстрації rating.npu.edu.ua{% endblock %}

{% block body_text %}{% endblock %}

{% block body_html %}
    {% autoescape false %}
    Шановний {{ user.firstname }} {{ user.lastname }} {{ user.parentName }}  ! <br>
    <br>

   Для закінчення реєстрації перейдіть, будь ласка, за посиланням :  {{ confirmationUrl }}.
    <br>
    <br>
    <br>
    <br>
    З повагою, <br>
    адміністрація сайту <a href="http://npu.rating.edu.ua">npu.rating.edu.ua</a>
    {% endautoescape %}
{% endblock %}