{% extends '@RatingAdmin/index.html.twig' %}

{% block title %}Редагування Факультету{% endblock %}

{% block content%}
    <div id="wrapper" class="after-navbar-admin container">
        <br>
        <h3>Редагування Інтистуту</h3>
        <div class="admin-form">{{ form(edit_form) }}</div>
    </div>
{% endblock %}
