{% extends '@RatingAdmin/index.html.twig' %}

{% block title %}Створити Факультет{% endblock %}

{% block content %}
    <br>
    <h3>Створити Факультет</h3>
    <div class="admin-form">{{ form(form) }}</div>
{% endblock %}
