.login-right{
  margin-left: 245px;
}
.wrapper{
  width: 1300px;
}
.login-form{
  width: 400px;
}
.checkbox-inline{
  padding-left: 0;
}
.login{
  margin-left: 160px;
}
.register-btn{
  margin-top: 90px;
  margin-left: 130px;
}
.center-block{
  text-align: center !important;
}
.form-error-block ul{
  color: #ff0000;
  font-size: 12px;
}