#job_entryYear_month, #job_entryYear_day{
  display: none;
}
.google-btn{

  background-color: #c32f10;
  color: #ffffff;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  border: 2px solid  #c32f10;
  cursor: pointer;
  transition: color 500ms linear,
              background-color 500ms linear;
  &:hover{
    background-color: #ffffff;
    color: #c32f10;

  }
}
.login-right{
  margin-left: 245px;
}
.wrapper{
  width: 1300px;
}
.login-form{
  width: 400px;
}
.register-form{
  width: 700px;
}
.checkbox-inline{
  padding-left: 0;
}
.login{
  margin-left: 160px;
}
.register-btn{
  margin-top: 90px;
  margin-left: 130px;
}
.center-block{
  text-align: center !important;
}
.form-error-block ul{
  color: #ff0000;
  font-size: 12px;
}
thead{
  font-size: 16px;
  font-weight: bold;
}
.admin-form{
  width: 600px;
   textarea{
    height: 100px;
  }
}
.btn-mini{
  padding: 2px 6px !important;
}
.td-center{
  text-align: center;
}
th{
  text-align: center;
}
#wrapper{
  width: 1270px;
}
.loader{
  background-image: url("/bundles/ratingmain/img/loader.gif");
  background-size: 50px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  display: none;
}
.ui-widget-content{
  background: none;
}
#field-ol{
  .input-field{
    width: 95%;
  }
  div{
    display: inline-block;
    width: 89%;
      div{
        width: 100% !important;
      }
  }
  .remove-field-link{
    margin-left: 30px;
  }
  .new-link-field{
    text-align: right;
  }
  .add-field-link{
    margin-right: 33px;
  }
}
h3{
  b {
    position: absolute;
    right: 10px;
  }
}
h4{
  b {
    position: absolute;
    right: 10px;
  }
}
.measure_total{
  padding-bottom: 8px;
}
.item-criteria-odd{
  background-color: #e9eefd;
}
.item-criteria-even{
  background-color: #f5f8ff;
}