{% extends '::admin.html.twig' %}
{% block title %}Редагування Кафедри{% endblock %}
{% block body -%}
    <h3>Редагування Кафедри</h3>
    <br>
    <a class="btn btn-primary back-btn" href="{{ path('cathedras') }}">{{ 'Назад' }}</a>
    <br>
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <div class="admin-form">
        {{ form(edit_form) }}
    </div>
{% endblock %}
